.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: #4e4e4ebf;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    
    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
}