.start-screen {
    background-color: #adb9ca;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        object-fit: cover;
        height: 80vh;

        @media(max-width: 960px){
            height: 64vh;
            padding-left: 33px;
        }
    }

    @media (max-width: 960px) {
        overflow: hidden;
    }
}

.start-box {
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: center;

    img {
        object-fit: cover;
        height: 32vh;
        width: auto;

        @media (max-width: 960px) {
            height: 26vh;
        }

        &:hover {
            filter: brightness(1.15);
            cursor: pointer;
        }
    }

    @media(max-width: 960px){
        bottom: 13vh;
    }
   
}
