.field {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('/assets/img/design/bg-game.jpg');
    /*background-image: url('/ringoffire/assets/img/design/bg-game.jpg');*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        object-fit: cover;
        width: 140px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transition: all 125ms ease-in-out;
        transform: scale(1.1) translateY(-10px);
    }
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(160px) translateY(-180px) rotate(-10deg); 
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.7);
    }
    60%{
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.3) translateX(160px) translateY(-180px) rotate(-10deg); 
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(160px) translateY(-180px) rotate(-10deg); 
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;

    @media(max-width: 720px){
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.scroll-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    app-player-mobile {
        margin-left: 8px;
    }
}

app-player, app-player-mobile {
    cursor: pointer;

    &:hover{
        filter: brightness(1.15);
    }
}

.game-over {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        object-fit: cover;
        width: 60vw;
    }
}

.preloadImage {
    opacity: 0;
    height: 0px;
    width: 0px;
    z-index: -999999;
}

.attention {
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transition: all 225ms ease-in-out;
	transform: scale(1);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media(max-width: 720px) {
    
    .pick-card {
        animation: pick-card-animation 1s ease-in-out;
        transform: scale(1.1) translateX(146px) translateY(-187px) rotate(-10deg); 
    }
    
    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.4);
        }
        60%{
            transform: scale(1.4);
        }
        100% {
            transform: scale(1.1) translateX(146px) translateY(-187px) rotate(-10deg); 
        }
    }
    
    .played-card {
        right: 16px;
        transform: scale(1.1) translateX(146px) translateY(-187px) rotate(-10deg); 
    }
}

@media(max-height: 600px) {
    .card-stack {
        bottom: 92px;
    }

    .pick-card {
        animation: pick-card-animation 1s ease-in-out;
        transform: scale(1.1) translateX(172px) translateY(-108px) rotate(-10deg); 
    }
    
    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.4);
        }
        60%{
            transform: scale(1.4);
        }
        100% {
            transform: scale(1.1) translateX(172px) translateY(-108px) rotate(-10deg); 
        }
    }
    
    .played-card {
        right: 25px;
        transform: scale(1.1) translateX(172px) translateY(-108px) rotate(-10deg); 
    }
}