.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    cursor: pointer;

    img {
        object-fit: cover;
    }

    &:hover {
        filter: brightness(1.15);
    }
}